{% extends 'outside_app/base.html' %}
{% block title %}
    Контакты
{% endblock %}


{% block content %}
<div class="container-istok" style="margin-top:75px; margin-bottom: 75px;">

    <div style="max-width: 1200px; margin-top: 50px">
        <div class="row">
            <div class="col">
                <h2 class="text-h2"> КОНТАКТНАЯ ИНФОРМАЦИЯ
                </h2>
                <h4 class="text-h4" style="margin-top: 25px">Акционерное общество «Компания инжиниринга и
                    строительства «ИСТОК»; Главный офис
                </h4>
                <p class="text-span" style="margin-top: 15px">Акционерное общество «Компания инжиниринга и строительства
                    «ИСТОК» <br> (АО КИС «ИСТОК»)<br>115230, Москва, ул. Варшавское шоссе, д. 46<br>Тел.: +7 (495)
                    025-10-01<br>Эл.
                    почта: istok@rosatom.ru
                </p>
            </div>
            <div class="col">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6b503827e9f8f870832038072d2b489c9b858b13634fa4c8c55c2d664061f3dc&amp;source=constructor"
                        width="500" height="400" frameborder="0"></iframe>
            </div>
        </div>

        <div class="row" style="margin-top: 50px">
            <div class="col">
                <h4 class="text-h4" style="margin-top: 25px">Акционерное общество «Компания инжиниринга и
                    строительства «ИСТОК»; Санкт-Петербургский филиал
                </h4>
                <p class="text-span" style="margin-top: 15px">Акционерное общество «Компания инжиниринга и строительства
                    «ИСТОК» <br> (АО КИС «ИСТОК»)<br>115230, Санкт-Петербург, ул. Дибуновская, д. 55<br>Тел.: +7 (495)
                    025-10-01<br>Эл.
                    почта: istok@rosatom.ru
                </p>
            </div>
            <div class="col">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A946abd14f53ba2a0b1f72a6b5e12b209473d4c70413f05a22a645bb26e0c0287&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
            </div>
        </div>
    </div>


</div>

<div class="container-istok" style="margin-top:0px;">
    <div style="width: 1200px;    display: block;  position: relative;">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>

{% endblock %}
