<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/bootstrap/bootstrap.min.css' %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/css/styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/OwlCarousel/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/OwlCarousel/owl.theme.default.css' %}"/>
    <script type="text/javascript" src="{% static 'outside_app/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'outside_app/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'outside_app/OwlCarousel/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'outside_app/main.js' %}"></script>
</head>
<body>

<div class="container-istok">
    {% include 'outside_app/header.html' %}
</div>
<main>
    {% block content %}
    {% endblock %}
</main>


{% include 'outside_app/footer.html' %}
<script>

</script>

</body>


</html>