{% extends 'outside_app/base.html' %}

{% block title %}
    Карьера
{% endblock %}


{% block content %}
    <div class="container-istok" style="margin-top:75px; margin-bottom: 75px;">

        <div style="max-width: 1200px; margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h2 class="text-h2"> Карьера
                    </h2>
                    <h4 class="text-h4-link" style="margin-top: 25px">МОЛОДЫМ СПЕЦИАЛИСТАМ
                    </h4>
                    <h4 class="text-h4-link" style="margin-top: 25px"><a class="text-h4-link" href="#obr"> ОБРАЗОВАНИЕ
                        (ЦЕЛЕВОЕ ОБУЧЕНИЕ)</a>

                    </h4>
                    <h4 class="text-h4-link" style="margin-top: 25px"><a class="text-h4-link" href="#soisk">СОИСКАТЕЛЯМ</a>

                    </h4>
                </div>
                <div class="col">
                    <p class="text-span">
                    В АО КИС «ИСТОК» всегда востребованы квалифицированные специалисты и с желанием менять мир вокруг.
                    Привлечение, развитие и удержание квалифицированного персонала, повышение производительности труда,
                    развитие корпоративной культуры влечет за собой достижение целей Компании.
                    </p>
                    <h4 class="text-h4" style="margin-top: 25px">Мы предлагаем:
                    </h4>
<p class="text-span">
                    Официальное трудоустройство
                    Конкурентоспособную белую зарплату
                    Социальный пакет
    Прозрачный план карьерного роста для каждого сотрудника</p>
                    <h4 class="text-h4" style="margin-top: 25px">Мероприятия:
                    </h4>
<p class="text-span">
    Участие в российских и международных отраслевых мероприятиях (митапы, конференции, форумы)</p>
                    <h4 class="text-h4" style="margin-top: 25px">Профессиональный рост:
                    </h4>
                    <a name="obr"> </a>
                    <p class="text-span">
                    Внутриотраслевые и внешние программы обучения
                    Ежедневное общение с квалифицированными специалистами
                        Деловые встречи с представителями ведущих мировых компаний</p>
                    <h4 class="text-h4" style="margin-top: 25px">Технологический туризм:
                    </h4>
<p class="text-span">
                    Присутствие компании во многих регионах даёт возможность не только профессионального,
                    но и культурного
    обогащения.</p>
                    <h4 class="text-h4" style="margin-top: 25px">Стажировки и практики:
                    </h4>
<p class="text-span">
                    АО КИС «ИСТОК» большое внимание уделяет молодым специалистам с высшим и средним специальным
                    образованием
                    из высших учебных заведений и колледжей г. Москвы (НИЯУ МИФИ, МГТУ им. Баумана, НИУ МЭИ, МФТИ, УрФУ
                    им.
                    Ельцина и пр. ВУЗы).
                    <br><br>
                    Для студентов и выпускников НИЯУ МИФИ, НИУ МЭИ, МФТИ, УрФУ им. Ельцина действуют программы
                    стажировок
                    и практик. Они помогают получить практический опыт работы на предприятиях компании, сформировать
                    четкое
                    и объективное видение будущей специальности. Практику официально засчитывают в профильных вузах,
                    а по результатам стажировки возможно трудоустройство.
                    <br><br>
                    Обучение, оценка и развитие персонала.
                    АО КИС «ИСТОК» придает большое значение качеству подготовки сотрудников, считая уровень
                    профессиональной
                    подготовки персонала одним из ключевых факторов надежности.
                    <br><br>
                    Особое внимание уделяется обучению производственного персонала. Это повышение квалификации,
                    направленное
                    на последовательное совершенствование профессиональных знаний, умений и навыков мастерства по
                    имеющимся
                    профессиям.
                    <br><br>
                    Обучение вторым профессиям рабочих, уже имеющих профессию по основной деятельности с целью получения
                    дополнительной с начальным уровнем квалификации.
                    <br><br>
                    Помимо обучения производственного персонала, АО КИС «ИСТОК» реализует программы повышения
                    управленческих
                    навыков для разных категорий должностей. Руководители направлений, начальники отделов предприятия
                    имеют
                    возможность проходить обучение по темам, направленным на развитие управленческих и личностных
                    компетенций.
                    <br><br>
                    Для обучения своих сотрудников предприятие активно привлекает внешних контрагентов, среди которых
                    имеются как специализированные учебные центры, так и лучшие в том числе внутренние Корпоративная
                    академия Росатома и Техническая академия Росатома.
                    <br><br>
                    Целевое обучение:
                    Целевая подготовка специалистов для организаций атомной отрасли ведется в соответствии с Федеральным
                    законом от 29.12.2012 N 273-ФЗ «Об образовании в Российской Федерации» и Постановлением
                    Правительства РФ
                    от 13.10.2020 N 1681 «О целевом обучении по образовательным программам среднего профессионального и
                    высшего образования».
                    Абитуриенты получат возможность заключить договоры о целевом обучении с АО КИС «ИСТОК».
                    Основной задачей целевого набора является конкурсный отбор наиболее достойных абитуриентов, их
                    углубленная подготовка с учетом специфики атомной отрасли и последующее трудоустройство выпускников
                    на
                    предприятия строительного комплекса атомной отрасли.
                    Преимущества целевого обучения:
                    Зачисление на целевые места происходит до зачисления абитуриентов «первой волны»
                    Студентам, поступившим в рамках целевого набора, предоставляется место в благоустроенном общежитии
                    Прохождение производственной практики на предприятиях Госкорпорации «Росатом»
                    <a name="soisk"> </a>
                    Гарантированное трудоустройство по окончанию ВУЗа на ведущие предприятия атомной отрасли
                    Возможность получения дополнительной стипендии в период обучения
</p>
                    <h4 class="text-h4" style="margin-top: 25px">Соискателям
                    </h4>
<p class="text-span">
                    Хотите сделать первый шаг и стать частью нашей команды?
                    <br><br>
                    Задай нам любой вопрос по телефону или напиши письмо.
    <br><br></p>
                    Почта: <span class="details_button">HRVacancii@rosatom.ru</span>,
                    <br><br>
                    Телефон: + 7 495 025 10 01, доб. 1008 Татьяна Лазарик
                    <br><br>
                    А также:
                    <br><br>
                    Откликнуться на вакансию, узнать о работе в Росатоме можно на Вакансии АО КИС "ИСТОК"
                    <br><br>
                    По вопросам практики и стажировок направляйте резюме на адрес: <span class="details_button">HRVacancii@rosatom.ru</span>
                    <br><br>
                    По вопросам целевого набора обращайтесь на адрес: <span
                        class="details_button">HRVacancii@rosatom.ru</span>


                </div>
            </div>

        </div>
    </div>

{% endblock %}