{% extends 'outside_app/base.html' %}
{% load static %}
{% block title %}
    Карьера АО "Исток"
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="h1-istok">Карьера
            </h1>
        </div>
        <div class="row mt-5">
            {#        <div class="row" style="margin-top: 30px">#}

            <h2 class="text-24px-500">АО КИС «ИСТОК» приглашает на работу выпускников ВУЗов и специалистов с опытом
                работы в сферах:
            </h2>
        </div>

        <ul class="ul_padding_0">
            <div class="row mt-4">
                {#            <div class="row" style="margin-top: 25px">#}

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="block_in_li_arrow">
                        <li class="li-arrow">
                            <div class="text-20px-500">Подготовки проектной документации</div>
                        </li>
                        <div class="text-20px" style="padding-left: 70px">для объектов, особо опасных и технически
                            сложных объектов
                            капитального
                            строительства, объектов использования атомной энергии
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="block_in_li_arrow">
                        <li class="li-arrow">
                            <div class="text-20px-500">Инженерных изысканий</div>
                        </li>
                        <div class="text-20px" style="padding-left: 70px">в отношении объектов капитального
                            строительства, в том числе объектов
                            использования атомной энергии
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="block_in_li_arrow">
                        <li class="li-arrow">
                            <div class="text-20px-500">Ведения работ</div>
                        </li>
                        <div class="text-20px" style="padding-left: 70px">по строительству, реконструкции, сносу
                            объектов капитального
                            строительства, объектов использования атомной энергии и их частей
                        </div>
                    </div>
                </div>


            </div>
        </ul>

        <div class="row" style="margin-top: 80px">
            <h3 class="text-24px-700">
                Мы предлагаем:
            </h3>
        </div>

        <div class="row justify-content-around" style="margin-top: 45px">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/1.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        Официальное трудоустройство
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/2.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        Конкурентоспособную белую зарплату
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/3.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        Социальный пакет
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/4.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        Прозрачный план карьерного роста
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/5.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        Участие в российских и международных отраслевых мероприятиях, митапах, конференциях, форумах
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row" style="margin-top: 90px">
                <h3 class="text-24px-700">
                    Профессиональный рост в компании:
                </h3>
            </div>
        </div>
{% endblock %}