{% extends 'outside_app/base.html' %}
{% load static %}
{% block title %}
    Карьера АО "Исток"
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="h1-istok">Карьера
            </h1>
        </div>
        <div class="row mt-5">
            {#        <div class="row" style="margin-top: 30px">#}

            <h2 class="text-24px-500">АО КИС «ИСТОК» приглашает на работу выпускников ВУЗов и специалистов с опытом
                работы в сферах:
            </h2>
        </div>

        <ul class="ul_padding_0">
            <div class="row mt-4">
                {#            <div class="row" style="margin-top: 25px">#}

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="block_in_li_arrow">
                        <div class="text-20px-500">
                            <li class="li-arrow">
                                Подготовки проектной документации
                            </li>
                        </div>
                        <div class="text-20px" style="padding-left: 70px">для объектов, особо опасных и технически
                            сложных объектов
                            капитального
                            строительства, объектов использования атомной энергии
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-4 mt-lg-0">
                    <div class="block_in_li_arrow">
                        <div class="text-20px-500">
                            <li class="li-arrow">
                                Инженерных изысканий
                            </li>
                        </div>
                        <div class="text-20px" style="padding-left: 70px">в отношении объектов капитального
                            строительства, в том числе объектов
                            использования атомной энергии
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px-500">
                            <li class="li-arrow">
                                Ведения работ
                            </li>
                        </div>
                        <div class="text-20px" style="padding-left: 70px">по строительству, реконструкции, сносу
                            объектов капитального
                            строительства, объектов использования атомной энергии и их частей
                        </div>
                    </div>
                </div>


            </div>
        </ul>

        <div class="row" style="margin-top: 80px">
            <h4 class="text-24px-700">
                Мы предлагаем:
            </h4>
        </div>

        <div class="row justify-content-around" style="margin-top: 45px">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/1.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        <div class="career_img_block__text__block">
                            Официальное трудоустройство
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/2.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        <div class="career_img_block__text__block">
                            Конкурентоспособную белую зарплату
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/3.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        <div class="career_img_block__text__block">
                            Социальный пакет
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-xl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/4.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        <div class="career_img_block__text__block">
                            Прозрачный план карьерного роста
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 col-xxl-2 justify-content-center mt-5 mt-xl-0">
                <div class="career_img_block">
                    <div class="career_img_block__image">
                        <img src="{% static "outside_app/images/icon/5.svg" %}">
                    </div>
                    <div class="career_img_block__text">
                        <div class="career_img_block__text__block">
                            Участие в российских и международных отраслевых мероприятиях, митапах, конференциях, форумах
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id='prof_rost'>
            <h4 class="text-24px-700">
                Профессиональный рост в компании:
            </h4>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-3 col-xxl-3">
                <div>
                    <div class="text-20px-500">Ежедневное общение с квалифицированными специалистами</div>
                </div>

                <div class="mt-3">
                    <div class="text-20px-500">Повышение квалификации для работников производств</div>
                </div>
                <div class="mt-3">
                    <div class="text-20px-500">Обучение вторым профессиям для рабочих</div>
                </div>
            </div>
            <div class="col-lg-1 col-xl-2 d-none d-lg-block"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5">
                <div class="mt-3 mt-md-0">
                    <span class="text-20px-500">Программы обучения</span>
                </div>
                <div class="mt-3">
                    <ul style="padding-left: 12px">
                        <li class="li-corruption">
                            <span class="text-20px">Внешние и внутриотраслевые:<br/>“Корпоративная академия Росатом” “Техническая академия Росатом”</span>
                        </li>
                        <li class="li-corruption">
                            <span class="text-20px">По развитию и повышению управленческих и личностных компетенций для руководителей направлений и начальников отделов</span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-2 d-none d-xl-block"></div>
        </div>


        <div class="row" id='young_professionals'>
            <h3 class="text-32px-700">
                Молодым специалистам
            </h3>
        </div>
        <div class="approve">
            <img src="{% static 'outside_app/images/approve.svg' %}">
        </div>
        <div class="row mt-4">
            {#        <div class="row" style="margin-top: 30px">#}
            <h3 class="text-28px-500">
                Стажировки и практики
            </h3>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5">
                <div class="text-20px">
                    Для студентов и выпускников высших учебных заве&shy;дений действуют программы стажировок и практик.
                </div>
                <div class="text-20px mt-3">
                    Стажировки и практики дают практический опыт работы на предприятиях компании, формируют четкое и
                    объективное видение будущей профессии.
                </div>
            </div>
            <div class="col-1 d-none d-lg-block"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-3 mt-md-0">
                <div class="text-20px">Прохождение практики официально засчитывается в профильных вузах, по результатам
                    стажировки у стажирующегося есть возможность получить работу в АО&nbspКИС&nbsp«ИСТОК».
                </div>
            </div>
            <div class="col-1 d-none d-xl-block"></div>
        </div>


        <div class="row" id="targeted_training">
            <h3 class="text-32px-700">
                Целевое обучение
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 mt-lg-0">
                <div class="number-info">
                    <div class="number">
                        <span>1</span>
                    </div>
                    <div class="number-text">
                        <div class="text-20px-500">Абитуриенты программ среднего профессионального и высшего образования
                            могут заключить договор о целевом обучении с АО&nbspКИС&nbsp«ИСТОК».
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 mt-lg-0">
                <div class="number-info">
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="number-text">
                        <div class="text-20px-500">В процессе обучения происходит углубленная подготовка обучающихся с
                            учетом специфики атомной отрасли.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 mt-lg-0">
                <div class="number-info">
                    <div class="number">
                        <span>3</span>
                    </div>
                    <div class="number-text">
                        <div class="text-20px-500">После окончания обучения выпускники трудоустраиваются на предприятия
                            комплекса атомной отрасли.

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 50px">
            <div class="text-20px-blue-500">
                Преимущества целевого обучения:
            </div>
        </div>


        <div class="row mt-5 mt-lg-4">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="text-20px">
                    <ul style="padding-left: 0">
                        <li class="li-approve">
                            Зачисление на целевые места происходит до зачисления абитуриентов «первой волны»
                        </li>
                        <li class="li-approve">
                            Студентам, поступившим в рамках целевого набора, предоставляется место в общежитии
                        </li>
                        <li class="li-approve">
                            Прохождение производственной практики на предприятиях Госкорпорации «Росатом»
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-xl-2 d-none d-xl-block"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="text-20px">
                    <ul style="padding-left: 0">
                        <li class="li-approve">
                            Гарантированное трудоустройство по окончанию ВУЗа на ведущие предприятия атомной отрасли
                        </li>
                        <li class="li-approve">
                            Возможность получения дополнительной стипендии в период обучения
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-xl-2 d-none d-xl-block"></div>
        </div>

        <div class="row" style="margin-top: 110px">
            <h3 class="text-32px-700">
                Соискателям
            </h3>
        </div>

        <div class="row mt-4 flex-column-reverse flex-lg-row">
            <div class="d-none d-md-block col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-4 ">
                <div class="career_img_finder mt-4 mt-4 mt-lg-0">
                    <img style="width: 100%" src="{% static 'outside_app/images/Rectangle 13.png' %}">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-8 mt-4 mt-lg-0">
                <div class="row align-content-between h-100">
                    <div class="row align-content-between">
                        <div class="col-12">
                            <div class="text-20px-500">
                                Хотите стать частью нашей команды?
                            </div>

                            <div class="d-block d-sm-block d-md-none text-20px mt-3">
                                {#                        <div class="text-20px" style="margin-top: 20px">#}
                                Для трудоустройства, прохождения <br>практики, стажировок и целевого набора
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row align-items-center">
{#                                <div class="col-12 col-md-6 col-lg-12 h-100 align-content-center">#}
                                    <div class="col-12 col-md-6 col-lg-12 d-none d-md-block">
                                        <div class="text-20px mt-3">
                                            {#                        <div class="text-20px" style="margin-top: 20px">#}
                                            Для трудоустройства, прохождения <br>практики, стажировок и целевого набора
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12">
                                        {#                        <div class="text-20px" style="margin-top: 15px">#}
                                        <div  class="text-20px mt-3 mt-lg-2">
                                            Почта: ********,<br>
                                            Телефон: 8 9** *** ** **
                                        </div>
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-20px-blue mt-2">
                        <a class="text-20px-blue__link" href="https://spb.hh.ru/" target="_blank">Больше о вакансиях
                            Госкорпорации «Росатом» на hh.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}