{% extends 'outside_app/base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}


{% block content %}

    <div class="container">
        <h3 class="h3-istok">Генеральный директор</h3>

        <div class="row" style="margin-top: 38px; justify-content: space-between ">
            <div class="col-lg-6 col-xl-5 col-xxl-5 col-md-12 col-sm-12 col-12">
                <img style="width: 100%" src="{% static 'outside_app/images/image_16_10.png' %}">
            </div>

            <div class="col-lg-5 col-xl-6 col-xxl-6 col-md-12 col-sm-12 col-12">
                <div class="director-bio">
                    <div style="display: flex; flex-direction: column; justify-content: space-between; min-height: 100%">
                        <div class="row" style="display: flex">
                            <h4 class="h4-istok">Кутумов Виктор Викторович </h4>
                        </div>
                        <div class="row" style="display: flex">
                            <h5 class="h5-istok">Образование </h5>
                            <p class="text-20px">г. Москва, <br/>Национальный институт имени Екатерины Великой,</p>
                            <p class="text-20px">Специальность «Финансы и кредит»</p>
                        </div>
                        <div class="row" style="display: flex">
                            <p class="text-20px-500">Трудовая деятельность в Госкорпорации «Росатом» началась с 2001
                                года</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-block">
            <div class="row" style="margin-top: 40px">
                <div class="col-12">
                    <div style="display: flex; min-width: 100%; justify-content: space-between">
                        <div style="display: flex">
                            <p class="text-year-timeline">2001</p>
                        </div>
                        <div style="display: flex">
                            <p class="text-year-timeline">2020</p>
                        </div>
                    </div>
                </div>

                <div class="Vector47" style="width: 100%; height: 100%; border: 1.50px #6CACE4 solid"></div>

                <div class="col-12">
                    <div style="display: flex; min-width: 100%; justify-content: space-between">
                        <div style="display: flex">
                            <p class="text-description-timeline">ООО «Севзапатомэнергострой» </p>
                        </div>
                        <div style="display: flex">
                            <p class="text-description-timeline">ЗАО АСЭ </p>
                        </div>
                        <div style="display: flex">
                            <p class="text-description-timeline">АО «ФЦНИВТ «СНПО «Элерон» </p>
                        </div>
                        <div style="display: flex">
                            <p class="text-description-timeline"> АО КИС «ИСТОК» </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 40px">
            <h4 class="h4-istok">Участие в проектах Госкорпорации «Росатом» </h4>
        </div>

        <div class="row" style="margin-top: 30px; display: flex;">
            <div class="d2"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="info-number-block">
                    <div class="col-11 number-info">
                        <div style="display: flex"><span class="number">1</span></div>
                        <div class="number-text">
                            <div class="number-description-title">Белорусская АЭС <br>блоки № 1, 2</div>
                            <div class="text-20px">Обеспечение физпуска, энергопуска и передачи в промышленную
                                эксплуатацию в запланированные сроки
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="info-number-block">
                    <div class="col-11" style="display: flex; flex-direction: row">
                        <div style="display: flex"><span class="number">2</span></div>
                        <div class="number-text">
                            <div class="number-description-title">Ростовская АЭС <br>блоки № 1,2, 3, 4</div>
                            <div class="text-20px">Обеспечение своевременного ввода в эксплуатацию, в качестве
                                Генерального директора подрядных организаций
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="info-number-block">
                    <div class="col-11" style="display: flex; flex-direction: row">
                        <div style="display: flex"><span class="number">3</span></div>
                        <div class="number-text">
                            <div class="number-description-title">Нововоронежская АЭС <br>блок № 6, 7</div>
                            <div class="text-20px">Обеспечение своевременного ввод в эксплуатацию
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d1"></div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="info-number-block">
                    <div class="col-11" style="display: flex; flex-direction: row">
                        <div style="display: flex"><span class="number">4</span></div>
                        <div class="number-text">
                            <div class="number-description-title">Калининская АЭС <br>блок № 3, 4</div>
                            <div class="text-20px">Обеспечение своевременного ввода в эксплуатацию, в качестве
                                Генерального директора подрядных организаций
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 150px">
            <h3 class="h3-istok">Противодействие коррупции </h3>
        </div>

        <div class="row" style="margin-top: 40px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <p class="text-20px">
                    Политика противодействия коррупции в Госкорпорации «Росатом» работает на основании Федерального
                    закона от 25.12.2008 № 273-ФЗ «О противодействии коррупции».
                </p>
                <p class="text-20px">
                    АО КИС «ИСТОК» поддерживает эту политику и принимает участие в ней.
                </p>
                <p class="text-20px-500" style="margin-top: 35px">
                    Для совершенствования действующей системы противодействия коррупции в АО КИС «ИСТОК»
                </p>
                <ul class="text-20px" style="padding-left: 0">
                    <li class="li-arrow">
                        Сформирована система внутреннего контроля
                    </li>
                    <li class="li-arrow">
                        Модернизируется система закупочных процедур
                    </li>
                    <li class="li-arrow">
                        Осуществляется проверка контрагентов
                    </li>
                    <li class="li-arrow">
                        Проводятся образовательные программы для работников
                    </li>
                </ul>
            </div>
        </div>

        <div class="question">
            <img src="{% static 'outside_app/images/qes.svg' %}">
        </div>
        <div class="row" style="margin-top: 125px">
            <h4 class="h4-istok">Что относится к коррупционному правонарушению?
            </h4>
        </div>
        <div class="row" style="margin-top: 40px; display: flex; justify-content: space-between">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4" style="padding-left: 0">
                <ul>
                    <li class="li-corruption">
                        <span class="text-20px">Дача взятки</span>
                    </li>
                    <li class="li-corruption">
                        <span class="text-20px">Получение взятки</span>
                    </li>
                    <li class="li-corruption">
                        <span class="text-20px">Злоупотребление полномочиями</span>
                    </li>
                    <li class="li-corruption">
                        <span class="text-20px">Коммерческий подкуп</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7" style="padding-left: 0">
                <ul>
                    <li class="li-corruption">
                        <span class="text-20px">Иное незаконное использование физическим лицом своего должностного положения вопреки законным
                        интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного
                        имущества или услуг имущественного характера, иных имущественных прав для себя или для третьих
                            лиц либо незаконное предоставление такой выгоды указанному лицу другими физическими лицами</span>
                    </li>
                    <li class="li-corruption">
                        <span class="text-20px">Совершение указанных выше деяний от имени или в интересах юридического лица и иные действия
                        (бездействие) и/или решения должностных лиц, затрагивающие права и законные интересы
                            Госкорпорации «Росатом» и/или ее организаций</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 180px">
            <h4 class="h4-istok">Сообщить о факте коррупции
            </h4>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                <ul style="padding-left: 0">
                    <li class="li-arrow text-24px-700">
                        Госкорпорация «Росатом»
                    </li>
                </ul>
                <div style="padding-left: 70px">
                    <div class="text-24px-500">
                        e-mail: 0707@rosatom.ru
                    </div>
                    <div class="text-24px-500">
                        тел.: 8 (800) 100 0707
                    </div>
                    <div class="text-24px-500">
                        Почта: 119017, Москва, а я 226, <br>
                        Департамент защиты активов Госкорпорации «Росатом»
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="oval-number-block">
                    <div style="margin-top: 50px">
                        <div class="blue-oval">
                            <img src="{% static 'outside_app/images/Vector 52.svg' %}">
                        </div>
                        <div class="text-blue-16px-500">многоканальный,<br>
                            круглосуточный, бесплатный
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <ul style="padding-left: 0">
                    <li class="li-arrow text-24px-700">
                        Госкорпорация «Росатом»
                    </li>
                </ul>
                <div style="padding-left: 70px">
                    <div class="text-24px-500">
                        тел.: +7 (495) ХХХ-ХХ-ХХ
                    </div>
                </div>
            </div>
        </div>
        <div class="line-gray" style="margin-top: 60px;"></div>
        <div class="row justify-content-end">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6 col-xxl-5">
                {#            <div class="col-5" style="padding-right: 0; margin-right: 0">#}
                <div class="text-blue-24px-400-right">
                    Рассматриваются все сообщения<br>
                    Заявителям гарантируется анонимность и<br>независимость рассмотрения сообщения
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 100px">
            <h3 class="h3-istok">Контакты</h3>
        </div>

        <div class="row" style="margin-top: 60px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                <div class="text-blue-28px-400">
                    Головная организация
                </div>
                <div class="text-20px-500" style="margin-top: 16px">
                    Акционерное общество <br/>«Компания инжиниринга и строительства «ИСТОК»
                </div>
                <div class="text-20px" style="margin-top: 18px">
                    115230, Москва, ул. Варшавское шоссе, д. 46
                </div>
                <div class="text-20px" style="margin-top: 8px">
                    Тел.: +7 (495) 025-10-01<br>
                    Почта: istok@rosatom.ru
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                <img style="width: 100%" src="{% static 'outside_app/images/карта пример.png' %}">
            </div>
        </div>
        <div class="row" style="margin-top: 30px; display: flex;">
            <div class="text-blue-28px-400">
                Подразделения
            </div>
        </div>
        <div class="row justify-content-between" style="margin-top: 16px; display: flex;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="subdivision-block">
                    <div class="text-20px-500">
                        Проектно-изыскательский центр <br/>г. Санкт-Петербург АО КИС «ИСТОК»
                    </div>
                    <div class="text-20px" style="margin-top: 18px">
                        197183, г. Санкт-Петербург,<br/>ул. Дибуновская, д. 55
                    </div>
                    <div class="text-20px" style="margin-top: 8px">
                        Тел.: +7 (812) *** ** **<br>
                        Эл.: Почта: **********
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="subdivision-block">
                    <div class="text-20px-500">
                        Обособленное подразделение <br/>г. Лесной АО КИС «ИСТОК»
                    </div>
                    <div class="text-20px" style="margin-top: 18px">
                        624200, г. Лесной, Свердловская обл., <br/>Технический проезд, д. 11
                    </div>
                    <div class="text-20px" style="margin-top: 8px">
                        Тел.: +7 (343) 42* ** **<br>
                        Эл.: Почта: **********
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="subdivision-block">
                    <div class="text-20px-500">
                        Обособленное подразделение <br/>г. Озерск АО КИС «ИСТОК»
                    </div>
                    <div class="text-20px-500" style="margin-top: 8px">
                        Проектно-изыскательский центр <br/>г. Озерск АО КИС «ИСТОК»
                    </div>
                    <div class="text-20px" style="margin-top: 18px">
                        Индекс, г. Озерск, <br/>Челябинская обл., ул. ***
                    </div>
                    <div class="text-20px" style="margin-top: 8px">
                        Тел.: +7 (343) 42* ** **<br>
                        Эл.: Почта: **********
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}

{% block js_staff %}


{% endblock %}