{% load static %}

<footer>
    <div style="display: flex; flex-direction: column; width: 100%; min-height: 580px; justify-content: space-between;">
        <div class="container">
            <div class="row" style="margin-top: 130px;">
                <div class="col-xxs-12 col-sm-3 col-md-3">
                    <div class="header_logo">
                        <a href="{% url 'index' %}"><img src="{% static 'outside_app/img/logo_small.png' %}" width="110"
                                                         height="50"></a>
                    </div>
                    <div class="text-13pх-400" style="margin-top: 27px">
                        111250,<br>
                        г. Москва,<br>
                        вн. тер. г. муниципальный округ Лефортово,<br>
                        ул. Красноказарменная, д. 12, стр. 38, этаж 2, помещение IV, комната 19

                    </div>
                </div>

                <div class="col-xxs-12 col-sm-3 col-md-2" style="z-index: 100;  padding-right: 10px;">
                    <div style="display:flex; height: 50px; align-items: center">
                        <div class="text-13pх-400-grey" style="display: flex">
                            Контакты
                        </div>
                    </div>
                    <div>
                        <div class="text-13pх-400" style="margin-top: 27px">
                            +7 (926) 349-80-40
                        </div>
                        <div class="text-13pх-400">
                            istok@kis-istok.ru
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-sm-4 col-md-4" style="z-index: 100">
                    <div style="display:flex; height: 50px; align-items: center">
                    </div>
                    <div class="text-13pх-400" style="margin-top: 27px">
                        <div>
                            197183, г. Санкт-Петербург, ул. Дибуновская, д. 55
                        </div>
                        <div>
                            spb@kis-istok.ru
                        </div>
                    </div>

                    <div class="text-13pх-400" style="margin-top: 27px">
                        <div>
                            624200, г. Лесной, Свердловская обл.,<br/>Технический проезд, д 11.
                        </div>
                        <div>
                            8 (343) 42* ** **
                        </div>
                        <div>
                            istok@kis-istok.ru
                        </div>
                    </div>

                    <div class="text-13pх-400" style="margin-top: 27px">
                        <div>
                            456796, г. Озерск, Челябинская обл.,<br/>ул. Октябрьская, д.11
                        </div>
                        <div>
                            8 (35130) 7-38-22
                        </div>
                        <div>
                            istok@kis-istok.ru
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1 d-none d-md-block"></div>
                <div class="col-12 col-sm-2 col-md-2" style="z-index: 100">
                    <div style="display:flex; height: 50px; align-items: center">
                        <div class="text-13pх-400-grey" style="display: flex">
                            Меню
                        </div>
                    </div>
                    <div class="text-13pх-400" style="margin-top: 27px">
                        АО КИС “ИСТОК”<br/>О компании<br/>Направления деятельности<br/>Закупки<br/>Крьера
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="line-gray" style="height: 1.5px"></div>
            <div class="footer-company-name">
                <span class="text-12pх-400-grey">© 2024, АО КИС “ИСТОК”</span>
            </div>
        </div>


        {#        <div class="container" style="max-width: 970px; justify-content: center">#}
        {#            <div style="display:flex; position: absolute; bottom: 0; justify-content: center; background-color: #0a53be">#}
        {##}
        {#                <div style="justify-content: center">#}
        {#                    <span class="text-span">2023 Акционерное общество «Компания инжиниринга и строительства «ИСТОК»</span>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</footer>