{% extends 'outside_app/base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}


{% block content %}
    <div class="container-istok" style="margin-top: 75px; margin-bottom: 50px;">
        <div class="content-width" style="background-color: white; position: relative;">
            <div class="slideshow" style="justify-content: center">
                <!-- Slideshow Items -->
                <div class="slideshow-items">

                    <div class="item" style="justify-content: center">
                        <div class="item-image-container">
                            <img class="item-image item-img-1">
                        </div>
                        <!-- Staggered Header Elements -->
                        <div class="item-header">
                            {#                            <span class="vertical-part"><b>Два</b></span>#}
                        </div>
                        <!-- Staggered Description Elements -->
                        <div class="item-description">
                            <span class="vertical-part"></span>
                            {#              <b>Возможен текст </b></span>#}
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                            <img class="item-image item-img-2">
                        </div>
                        <!-- Staggered Header Elements -->
                        <div class="item-header">
                            {#                            <span class="vertical-part"><b>Раз</b></span>#}
                        </div>
                        <!-- Staggered Description Elements -->
                        <div class="item-description">

                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                            <img class="item-image item-img-3">
                        </div>
                        <!-- Staggered Header Elements -->
                        <div class="item-header">
                            {#                        <span class="vertical-part"><b>Три</b></span>#}
                        </div>
                        <!-- Staggered Description Elements -->
                        <div class="item-description">
          <span class="vertical-part">
{#            <b>Airbnb</b>#}
          </span>

                        </div>
                    </div>
                </div>
                <div class="controls">
                    <ul>
                        <li class="control" data-index="0"></li>
                        <li class="control" data-index="1"></li>
                        <li class="control" data-index="2"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-istok" style="margin-bottom:150px;">
        <div class="content-block" style="border-radius: 10px">
            <div class="row" style="padding: 35px">
                <div class="col">
                    <h2 class="text-h2"> АО КИС "ИСТОК"</h2>
                    <h4 class="text-h4" style="margin-top: 25px">Акционерное общество «Компания инжиниринга и
                        строительства «ИСТОК»
                    </h4>
                    <p class="text-span" style="margin-top: 15px">АО КИС «ИСТОК» является инжиниринговой
                        организацией
                        Госкорпорации «Росатом».
                        Основным направлением деятельности АО КИС
                        «ИСТОК» является деятельность в области инженерных изысканий, инженерно-технического
                        проектирования,
                        управления проектами строительства, выполнения строительного контроля и авторского надзора,
                        предоставления технических консультаций в этих областях для организаций атомной отрасли.
                    </p>
                    <div style="margin-top: 40px">
                        <p>
                            <span class="text-span-numbers" style="font-size: 50px; color: #E35454;">70</span>
                            <span class="text-span">лет опыта, инноваций и лидерства</span>
                        </p>
                        <p>
                            <span class="text-span-numbers" style="font-size: 50px; color: #E35454;">1400</span>
                            <span class="text-span"> специалистов высокой квалификации</span>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/daDsYrWyZGY?si=0zjZs89RMKXhcPGU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>

        </div>


        <div style="margin-top: 50px">
            <h4 class="text-h4-400">Новости и статьи
            </h4>
            <div class="hr-line"></div>
        </div>


        <div class="content-block" style="border-radius: 10px; margin-top: 40px">
            <div class="row" style="padding: 15px">
                <div class="col">
                    <h2 class="text-h2-news"> АО "КИС "ИСТОК" принял участие в Ярмарке вакансий</h2>
                    <h6 class="text-h6">13 сентября 2023</h6>
                    <span class="text-span">
                        Свыше 150 предприятий и компаний, более 8000 вакансий и более 4000 посетителей:
                        в Петербурге подвели итоги двухдневной общегородской Ярмарки вакансий.
                        Она проходила в отеле «Москва» 13 и 14 сентября.
                    </span>
                    <p class="details_button">Подробнее</p>
                </div>
                <div class="col">
                    <h2 class="text-h2-news"> АО "КИС "ИСТОК" принял участие в форуме</h2>
                    <h6 class="text-h6">13 сентября 2023</h6>
                    <span class="text-span">
                        рассказал о трендах цифровой трансформации в строительной отрасли на ежегодном
                        Саммите деловых кругов «Сильная Россия», который прошел 5 июля 2023 года.
                        Мероприятие проходило при поддержке Российского союза строителей,
                        Торгово-промышленной палаты Российской Федерации и Российского союза промышленников и предпринимателей.
                    </span>
                    <p class="details_button">Подробнее</p>
                </div>
            </div>
        </div>

        <div style="margin-top: 50px">
            <h4 class="text-h4-400">Ключевые проекты
            </h4>
            <div class="hr-line"></div>
        </div>


        <div class="content-block" style="border-radius: 10px; margin-top: 40px">
            <div class="row" style="padding: 15px">
                <div class="col-3" style="padding: 15px">
                    <div class="my_img-1">
                    </div>
                    <h2 class="text-h2-objects"> Объект 1</h2>
                    <span class="text-span">
                        Объект 1. Важный много всего всего всего всего
                    </span>
                    <p class="details_button">Подробнее</p>
                </div>
                <div class="col-3" style="padding: 15px">
                    <div class="my_img-2">
                    </div>
                    <h2 class="text-h2-objects"> Объект 2</h2>
                    <span class="text-span">
                        Объект 2. Важный много всего всего всего всего
                    </span>
                    <p class="details_button">Подробнее</p>
                </div>
                <div class="col-3" style="padding: 15px">
                    <div class="my_img-3">
                    </div>
                    <h2 class="text-h2-objects"> Объект 3</h2>
                    <span class="text-span">
                        Объект 1. Важный много всего всего всего всего
                    </span>
                    <p class="details_button">Подробнее</p>
                </div>
                <div class="col-3" style="padding: 15px">
                    <div class="my_img-4">
                    </div>
                    <h2 class="text-h2-objects"> Объект 4</h2>
                    <span class="text-span">
                        Объект 1. Важный много всего всего всего всего
                    </span>
                    <p class="details_button">Подробнее</p>
                </div>
            </div>
        </div>
    </div>

 <script>
        // Master DOManipulator v2 ------------------------------------------------------------
        const items = document.querySelectorAll('.item'),
            controls = document.querySelectorAll('.control'),
            headerItems = document.querySelectorAll('.item-header'),
            descriptionItems = document.querySelectorAll('.item-description'),
            activeDelay = .76,
            interval = 5000;

        let current = 0;

        const slider = {
            init: () => {
                controls.forEach(control => control.addEventListener('click', (e) => {
                    slider.clickedControl(e)
                }));
                controls[current].classList.add('active');
                items[current].classList.add('active');
            },
            nextSlide: () => { // Increment current slide and add active class
                slider.reset();
                if (current === items.length - 1) current = -1; // Check if current slide is last in array
                current++;
                controls[current].classList.add('active');
                items[current].classList.add('active');
                slider.transitionDelay(headerItems);
                slider.transitionDelay(descriptionItems);
            },
            clickedControl: (e) => { // Add active class to clicked control and corresponding slide
                slider.reset();
                clearInterval(intervalF);

                const control = e.target,
                    dataIndex = Number(control.dataset.index);

                control.classList.add('active');
                items.forEach((item, index) => {
                    if (index === dataIndex) { // Add active class to corresponding slide
                        item.classList.add('active');
                    }
                })
                current = dataIndex; // Update current slide
                slider.transitionDelay(headerItems);
                slider.transitionDelay(descriptionItems);
                intervalF = setInterval(slider.nextSlide, interval); // Fire that bad boi back up
            },
            reset: () => { // Remove active classes
                items.forEach(item => item.classList.remove('active'));
                controls.forEach(control => control.classList.remove('active'));
            },
            transitionDelay: (items) => { // Set incrementing css transition-delay for .item-header & .item-description, .vertical-part, b elements
                let seconds;

                items.forEach(item => {
                    const children = item.childNodes; // .vertical-part(s)
                    let count = 1,
                        delay;

                    item.classList.value === 'item-header' ? seconds = .015 : seconds = .007;

                    children.forEach(child => { // iterate through .vertical-part(s) and style b element
                        if (child.classList) {
                            item.parentNode.classList.contains('active') ? delay = count * seconds + activeDelay : delay = count * seconds;
                            child.firstElementChild.style.transitionDelay = `${delay}s`; // b element
                            count++;
                        }
                    })
                })
            },
        }

        let intervalF = setInterval(slider.nextSlide, interval);
        slider.init();
    </script>
{% endblock %}

{% block js_staff %}


{% endblock %}