{% extends 'outside_app/base.html' %}
{% load static %}

{% block title %}
    Направления деятельности
{% endblock %}

{% block content %}
    <div class="content-napr-width" style="height: 320px">
        <div class="item_napr">
            <img src="{% static 'outside_app/img/slideshow/renders/00_2.jpg' %}">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h1 class="h1-istok" id="direction">
                Комплексное проектирование
            </h1>
        </div>

        {#        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="margin-top: 30px">#}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                <div class="text-24px-400">АО КИС «ИСТОК» занимается комплексным проектированием объектов любой степени
                    сложности в интересах ядерно-оружейного комплекса (ЯОК), ядерно-радиационной безопасности (ЯРБ) и
                    блока
                    по управлению инновациями (БУИ) в рамках федеральной адресной инвестиционной программы
                    Государственного оборонного заказа.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4">
            <div class="text-24px-400-blue">Компания проектирует:
            </div>
        </div>


        <ul class="ul_padding_0">
            <div class="row">


                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4  mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Объекты ядерно-оружейного комплекса (федеральных ядерных организаций)
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4  mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Производства радиохимической технологии (создание изотопов, радиофармпрепаратов)
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4  mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Объекты по обращению с радиоактивными отходами (установок по обращению с РАО, объектов
                                хранения и захоронения РАО)
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4  mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Комплексное проектирование строительства и реконструкции, в том числе объектов отрасли, морских портов, гидротехнических сооружений, плавучих АЭС.
                            </li>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4  mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Объекты атомной энергетики, исследовательских и опытно-промышленных инновационных ядерных энергетических установок и стендов
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4  mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Вывод из эксплуатации объектов использования атомной энергии, разработка концепций и проектов вывода из эксплуатации, реабилитация загрязненных территорий;
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Испытательные полигоны, вычислительные центры, комплексы для лазерных установок, локализующие сооружения для проведения работ по сборке и разборке ЯЗ, ЯБП, складов ОДМ, взрывчатых веществ и средств инициирования, испытательных, исследовательских, рентгенографических комплексов на базе линейно-индукционных ускорителей, аэробаллистических трасс, терра-динамических лабораторий
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Хранилища для длительного хранения ядерных материалов, используемых при разработке, изготовлении, испытании, эксплуатации и утилизации ядерного оружия и ядерных энергетических установок военного назначения
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                    <div class="block_in_li_arrow">
                        <div class="text-20px">
                            <li class="li-arrow">
                                Производства новых видов топлива для атомных станций, хранилищ сухого хранения ОЯТ, химико-технологических производств, лабораторий радиохимического анализа, производств выделения редкоземельных элементов
                            </li>
                        </div>
                    </div>
                </div>


            </div>
        </ul>
{% endblock %}