{% extends 'outside_app/base.html' %}

{% block title %}
    Направления деятельности
{% endblock %}

{% block content %}
    <div class="container-istok-2" style="margin-top:75px; margin-bottom: 75px;">

        <div style="width: 1200px; margin-top: 50px">
            <div class="row" >
                <div class="col" style="justify-content: center; align-items: center; text-align: center">
                    <h2 class="text-h2" style="position: center"> Направления деятельности

                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="my_img-33" style="margin-top: 45px"></div>
                </div>
                <div class="col">

                    <div class="my_img-23" style="margin-top: 45px"></div>
                </div>
                <div class="col">

                    <div class="my_img-43" style="margin-top: 45px"></div>
                </div>
                <div class="row" style="margin-top: 50px">
                    <div class="col">
                        <h2 class="text-h2"> «Комплексное проектирование»:

                        </h2>
                        <p class="text-span">
                            Комплексное проектирование строительства и реконструкции, в том числе объектов отрасли, а
                            также морских портов, гидротехнических сооружений, плавучих АЭС
                            <br>
                            выполнение предпроектных и проектно-изыскательских работ по сооружению, реконструкции и
                            капитальному ремонту
                            <br>
                            выполнение функций генерального проектировщика по разработке предпроектной, проектной,
                            рабочей и иной технической документации
                            <br>
                            выполнение работ по осуществлению авторского надзора и строительного контроля при
                            строительстве, реконструкции и капитальном ремонте
                        </p>

                        <h2 class="text-h2"> «Комплексное проектирование»:
                        </h2>

                        <p class="text-span">
                            Оказание услуг генерального подрядчика по строительству, реконструкции и капитальному
                            ремонту<br>
                            выполнение строительных, монтажных и пусконаладочных работ, работ по реконструкции и
                            капитальному ремонту<br>
                            поставка оборудования

                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-istok" style="margin-top:0px;">
        <div style="width: 1200px;    display: block;  position: relative;">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>


{% endblock %}