{% extends 'outside_app/base.html' %}

{% block title %}
    Направления деятельности
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="h3-istok">
                Направления проектирования
            </h1>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                <div class="direction-block__header"></div>
                <div class="direction-block">
                    <div class="direction-block__title">
                        <h4 class="text-32px-700-blue">Инженерные изыскания</h4>
                    </div>
                    <div class="direction-block__text">
                        <ul>
                            <li class="li-direction">
                                <span class="text-20px-blue">Текст</span>
                            </li>
                            <li class="li-direction">
                                <span class="text-20px-blue">Текст</span>
                            </li>
                            <li class="li-direction">
                                <span class="text-20px-blue">Текст</span>
                            </li>
                            <li class="li-direction">
                                <span class="text-20px-blue">Текст</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                <div class="direction-block__header"></div>
                <div class="direction-block"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                <div class="direction-block__header"></div>
                <div class="direction-block"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4">
                <div class="direction-block__header"></div>
                <div class="direction-block"></div>
            </div>
        </div>

    </div>
{% endblock %}