{% extends 'outside_app/base.html' %}
{% load static %}

{% block title %}
    Направления деятельности
{% endblock %}

{% block content %}
    <div class="content-napr-width" style="height: 320px">
        <div class="item_napr">
            <img src="{% static 'outside_app/img/slideshow/renders/00_2.jpg' %}">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h1 class="h1-istok" id="direction">
                Строительство
            </h1>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                <div class="text-24px-400">АО КИС «ИСТОК» занимается реконструкцией, капитальным ремонтом объектов
                    промышленного и специального назначения, реализует функции генерального подряда, проектирования,
                    ведением строительных, механомонтажных, электромонтажных, вентиляционных и специализированных работ
                    при сооружении сложных промышленных объектов, в том числе объектов использования атомной энергии.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-4">
            <div class="text-24px-400-blue">Компания располагает:
            </div>
        </div>

        <ul style="padding-left: 0">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-4">
                    <ul style="padding-left: 0">
                        <div class="text-20px">
                            <li class="li-approve">
                                Собственной строительной техникой для земляных работ, для работ по подъему и перемещению
                                грузов: экскаваторы, самосвалы, бульдозеры, автомобильные и башенные краны
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-4">
                    <div class="text-20px">
                        <li class="li-approve">
                            Всей цепочкой строительного оборудования для изготовления, транспортировки и укладки
                            бетонных смесей: бетонные заводы, автобетоносмесители, стационарные и автобетононасосы,
                            бетонораздаточныестрелы
                        </li>
                    </div>

                </div>
            </div>
        </ul>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                <div class="text-24px-400">Компания опирается на опыт и достижения российской атомной отрасли и современные инновационные технологи, применяет инструменты бережливого производства.
                </div>
            </div>
        </div>

    </div>
{% endblock %}