<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/css/tasks.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'outside_app/css/outside.css' %}"/>
</head>
<body class="body">

<div class="container">
<footer class="container" style="margin: 0 auto">

    <div class="bgfooter">sdfsd</div>

</footer>