{% extends 'outside_app/base.html' %}

{% block title %}
    Закупки
{% endblock %}

{% block content %}
    <div class="container-istok-2" style="margin-top:75px; margin-bottom: 75px;">

        <div style="width: 1200px; margin-top: 50px">
            <div class="row">
                <div class="col">

                    <div class="my_img-33" style="margin-top: 45px"></div>
                </div>
                <div class="col">
                    <h2 class="text-h2"> Закупки
                    </h2>
                    <p class="text-span">
                        С 2021 года закупки за счет собственных и внебюджетных средств АО КИС «ИСТОК» осуществляются в
                        соответствии с Федеральным законом от 18.07.2011 № 223-ФЗ «О закупках товаров, работ, услуг
                        отдельными видами юридических лиц».

                        В соответствии с Федеральным законом № 223-ФЗ Положением о закупке АО КИС «ИСТОК» является
                        Единый
                        отраслевой стандарт закупок (Положение о закупке) Госкорпорации «Росатом», утвержденный решением
                        совета директоров от 26.11.2021 № 4 и Приказом АО КИС «ИСТОК» от 29.11.2021 № 14/11-П и
                        размещенный
                        на официальном сайте Единой информационной системы в сфере закупок товаров, работ, услуг для
                        обеспечения государственных и муниципальных нужд, www.zakupki.gov.ru и на официальном сайте о
                        размещении заказов на закупки товаров, работ и услуг для нужд Госкорпорации «Росатом»,
                        расположенном
                        в сети интернет по адресу www.zakupki.rosatom.ru.

                        Официальным сайтом АО КИС «ИСТОК» для размещения информации в рамках исполнения Федерального
                        закона
                        № 223-ФЗ является официальный сайт Единой информационной системы в сфере закупок товаров, работ,
                        услуг для обеспечения государственных и муниципальных нужд, www.zakupki.gov.ru и официальный
                        сайт о
                        размещении заказов на закупки товаров, работ и услуг для нужд Госкорпорации «Росатом»,
                        расположенный
                        в сети интернет по адресу www.zakupki.rosatom.ru

                        Интерактивная обучающая программа: «Как стать поставщиком атомной отрасли»;
                        Буклет «Как стать поставщиком атомной отрасли»;
                        Буклет «Как стать поставщиком атомной отрасли субъекту МСП»
                        (материалы находятся на официальном сайте о размещении заказов на закупки товаров, работ и услуг
                        для
                        нужд Госкорпорации «Росатом» по адресу www.zakupki.rosatom.ru
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="container-istok" style="margin-top:0px;">
        <div style="width: 1200px;    display: block;  position: relative;">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>


{% endblock %}