{% extends 'outside_app/base.html' %}

{% block title %}
    Закупки АО "Исток"
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="h1-istok">
                Закупки
            </h1>
        </div>
        <div class="row mt-5">
            {#        <div class="row" style="margin-top: 30px">#}

            <h2 class="text-24px-500">Закупочная деятельность в АО&nbspКИС&nbsp«ИСТОК» регламентируется:</h2>
        </div>
        <div class="row mt-4">
            <div class="text-blue-24px-500">
                Федеральными законами
            </div>
        </div>
        <div class="row mt-3">
            {#        <div class="row" style="margin-top: 20px">#}
            <div class="col-12" style="padding-left: 0">
                <ul>
                    <li class="li-corruption">
                        <span class="text-20px">Федеральный закон от 18.07.2011 №223-ФЗ (ред. от 05.12.2022) “О закупках товаров, работ, услуг отдельными видами юридических лиц”</span>
                    </li>
                    <li class="li-corruption">
                        <span class="text-20px">Федеральный закон от 05.04.2013 №44-ФЗ (ред. от 29.05.2023) “О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных нужд”</span>
                    </li>
                    <li class="li-corruption">
                        <span class="text-20px">Федеральный закон от 29.12.2012 №275-ФЗ (ред. от 03.04.2013) “О Государственном оборонном заказе”</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5 col-xxl-4">
                <div class="text-blue-24px-500">Отраслевым стандартом</div>
                <div class="row mt-3">
                    {#                <div class="row" style="margin-top: 20px">#}
                    <div class="col-12" style="padding-left: 0">

                            <ul>
                                <li class="li-corruption">
                                    <div class="text-20px">“Единый отраслевой стандарт закупок Госкорпорации Росатом”</div>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>
            <div class="col-1 col-xxl-2 d-none d-lg-block"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="text-blue-24px-500">Локальными нормативными актами организации</div>
            </div>
        </div>
        <div class="row" style="margin-top: 90px">
            <div class="col-12">
                <div class="text-16pх-400">
                    Информация о закупках
                </div>
            </div>
        </div>

        <div class="line-gray" style="margin-top: 20px;"></div>

        <div class="row mt-4">
            {#        <div class="row" style="margin-top: 30px">#}
            <div class="col-12 col-md-4 col-lg-3 mb-3 mb-lg-3">
                <a href="https://zakupki.gov.ru/epz/main/public/home.html" target="_blank"
                   class="rectangle-block__link">
                    <div class="rectangle-block">
                        <span class="rectangle-block__inner_text">www.zakupki.gov.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-1 d-none d-lg-block"></div>
            <div class="col-12 col-md-4 col-lg-3 mb-3 mb-lg-3">
                <a href="https://zakupki.rosatom.ru/" target="_blank" class="rectangle-block__link">
                    <div class="rectangle-block">
                        <span class="rectangle-block__inner_text">www.zakupki.rosatom.ru</span>
                    </div>
                </a>
            </div>
            <div class="col-1 d-none d-lg-block"></div>
            <div class="col-12  col-md-4 col-lg-3 mb-3 mb-lg-3">
                <a href="https://zakupki.gov.ru/epz/main/public/home.html" target="_blank"
                   class="rectangle-block__link">
                    <div class="rectangle-block">
                        <span class="rectangle-block__inner_text">Стать поставщиком <br/>атомной отрасли</span>
                    </div>
                </a>
            </div>
            {#                    <div class="col-1 d-none d-md-block"></div>#}
        </div>

    </div>


{% endblock %}