.map {
    height: 500px;
    width: auto;
}

.map_region {
    fill: #C4DEF4;
    stroke: #eee;
    stroke-width: 10;
}

.map_region:hover {
    fill: #a7cfee;
    transition: 0.6s;
    cursor: pointer;
}

/*.map svg path {*/
/*    fill: #6dab8e;*/
/*    stroke: #eee;*/
/*    stroke-width: 2;*/
/*}*/

.map_marker {
    scale: 22;
    fill: #025ea1;
    stroke: #eee;
    stroke-width: .25;
}

.map_marker:hover {
    fill: #a10202;
    transition: 0.6s;
    cursor: pointer;
}



#kanev, #kurgan, #timash {
    opacity: 0;
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
    top: 0;;
    right: 0;
    width: 280px;
    max-width: 100%;
    height: auto;
    background: rgba(220, 240, 250, 0.7);
    border-radius: 20px;
    padding: 20px;
}