@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Italic.eot');
    src: local('Rosatom Italic'), local('Rosatom-Italic'),
    url('../fonts/rosatom/Rosatom-Italic.eot') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Italic.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Italic.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Light.eot');
    src: local('Rosatom Light'), local('Rosatom-Light'),
    url('../fonts/rosatom/Rosatom-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Light.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Light.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Bold.eot');
    src: local('Rosatom Bold'), local('Rosatom-Bold'),
    url('../fonts/rosatom/Rosatom-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Bold.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Bold.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Regular.eot');
    src: local('Rosatom'), local('Rosatom-Regular'),
    url('../fonts/rosatom/Rosatom-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Regular.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Regular.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos_400';
    src: url('../fonts/golos/400/font.woff2') format('woff2'),
    url('../fonts/golos/400/font.woff') format('woff'),
    url('../fonts/golos/400/font.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Golos_500';
    src: url('../fonts/golos/500/font.woff2') format('woff2'),
    url('../fonts/golos/500/font.woff') format('woff'),
    url('../fonts/golos/500/font.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Golos_700';
    src: url('../fonts/golos/700/font.woff2') format('woff2'),
    url('../fonts/golos/700/font.woff') format('woff'),
    url('../fonts/golos/700/font.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}


.header {
    display: flex;
    /*border-bottom: 1px solid #f2f2f2;*/
    height: 150px;
    align-items: center;
    justify-content: center;
}

.header_logo {
    /*display: inline-block;*/
    width: 110px;
    height: 50px;
    /*position: relative*/

}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.logo-block {
    float: left;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 38px;
}

.navigation-root {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding-left: 0;
    height: 100%;
    gap: 38px;

}

.navigation-list-item {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-list-item a {
    font-family: "Golos_400", serif;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

.navigation-list-item a:hover {
    color: #025EA1;
}

.slider_container {
    display: flex;
    color: #ffffff;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 60%;
}

/*.slider_container {*/
/*    padding-right: 20px;*/
/*    color: #ffffff;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 60%;*/
/*}*/

.main-slider__title {
    display: flex;
    letter-spacing: -0.01em;
    line-height: 1.2;
    /*font-size: 30px;*/
    font-weight: 500;
    position: absolute;
    bottom: 0;
    width: 60%;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    vertical-align: middle;

}


.carousel__title {
    color: #ffffff;
    font-size: 40px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    margin-top: 28px;
    margin-bottom: 32px;
}

@media (min-width: 0px) and (max-width: 480px) {
    .carousel__title {
        font-size: 16px;
        /*padding-left: 35%;*/
    }
}

@media (min-width: 481px) and (max-width: 700px) {
    .carousel__title {
        font-size: 24px;
    }
}

@media (min-width: 701px) and (max-width: 767px) {
    .carousel__title {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    .carousel__title {
        font-size: 22px;
    }
}

@media (min-width: 961px) and (max-width: 1140px) {
    .carousel__title {
        font-size: 26px;
    }
}

@media (max-width: 1060px) {
    .navigation-root {
        display: none;
    }
}

/*@media (max-width: 576px) {*/
/*    .carousel__title {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

/*@media (min-width: 576px) and (max-width: 992px) {*/
/*    .carousel__title {*/
/*        font-size: 32px;*/
/*    }*/
/*}*/

.navigation-toggle-link {
    display: none;
    /*background: url('../images/list.svg');*/
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    /*padding-right: 50px;*/
}

.navigation-toggle-link-icon {
    -webkit-mask-image: url('../images/list.svg');
    mask-image: url('../images/list.svg');
    /*background: url('../images/list.svg');*/
    background-color: #4e5f68;
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    height: 19px;
}


@media (max-width: 1059px) {
    .navigation-toggle-link {
        display: flex;
    }
}

.dropdown {
    display: none;
    align-items: start;
    /*display: inline-block;*/
    z-index: 50;
    min-width: 80vw;
    position: absolute;
    background-color: white;
    right: 2%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media (max-width: 1059px) {
    .navigation-list-item {
        background: white;
        padding-left: 40px;
        min-height: 40px;
    }

    .dropdown-content {
        display: block;
    }
}

@media (max-width: 992px) {
    .director-bio {
        margin-top: 50px;
    }

    .timeline-block {
        display: none;
    }

    .oval-number-block {
        display: none;
    }
}

.bgfooter {
    flex-shrink: 0;
    width: 100%;
    height: 75px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    /*bottom: 0px;*/
    color: white;
    background: #525760;
}

.text-span {
    font-size: 14px;
    font-family: "Rosatom", serif;
    font-weight: normal;

}

.h3-istok {
    color: #333333;
    font-size: 40px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    margin-top: 28px;
}

.h4-istok {
    color: #333333;
    font-size: 28px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    line-height: 36px;
}

@media (max-width: 576px) {
    .h3-istok {
        font-size: 28px;
    }
}

.h5-istok {
    color: #333333;
    font-size: 20px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    line-height: 36px;
}

.text-32px-700-blue {
    font-size: 32px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-32px-700-blue {
        font-size: 24px;
    }
}


.text-24px-700 {
    font-size: 24px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

.text-24px-500 {
    font-size: 24px;
    font-family: "Golos_500", serif;
    color: #333333;
    word-wrap: break-word
}

.text-24px-500 {
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}


@media (max-width: 576px) {
    .text-24px-700 {
        font-size: 20px;
    }

    .text-24px-500 {
        font-size: 20px;
    }

    .text-24px-300 {
        font-size: 20px;
    }
}


.text-20px {
    font-size: 20px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    hyphens: manual;
}

.text-20px-blue {
    font-size: 20px;
    font-family: "Golos_400", serif;
    color: #025EA1;
    word-wrap: break-word
}

.text-20px-500 {
    font-size: 20px;
    font-family: "Golos_500", serif;
    color: #333333;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-20px {
        font-size: 16px;
    }

    .text-20px-500 {
        font-size: 16px;
    }

    .text-20px-blue {
        font-size: 16px;
    }
}

.text-13pх-400 {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}

.text-13pх-400-grey {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #9F9E9E;
    word-wrap: break-word
}

.text-12pх-400-grey {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #9F9E9E;
    word-wrap: break-word
}

.footer-company-name {
    display: flex;
    justify-content: start;
    height: 50px;
    align-items: center;
}

.text-12pх-400 {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}

.text-year-timeline {
    color: #025EA1;
    font-size: 24px;
    font-family: "Golos_500", serif;
    word-wrap: break-word
}

.text-description-timeline {
    color: #6CACE4;
    font-size: 20px;
    font-family: "Golos_400", serif;
    word-wrap: break-word
}

.info-number-block {
    display: flex;
    margin-top: 30px;
    min-height: 120px;
}

.number-info {
    display: flex;
    flex-direction: row;
}

.number {
    width: 54px;
    display: flex;
    color: #025EA1;
    font-size: 54px;
    font-family: "Golos_700", serif;
}

.number-text {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.number-description-title {
    display: flex;
    color: #333333;
    font-size: 20px;
    font-family: "Golos_500", serif;
    word-wrap: break-word
}

.number-description {
    display: flex;
    color: #333333;
    font-size: 14px;
    font-family: "Golos_400", serif;
    word-wrap: break-word
}

.Vector47 {
    width: 100%;
    height: 100%;
    border: 1.50px #6CACE4 solid
}

.d1 {
    position: absolute;
    width: 750px;
    height: 750px;
    background: #D6DEE9;
    border-radius: 50%;
    z-index: -1;
    left: -5%;
}

.d2 {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #F2F5F8;
    border-radius: 50%;
    z-index: -1;
    right: 0;
}

@media (max-width: 750px) {
    .d1 {
        width: 300px;
        height: 300px;
    }

    .d2 {
        width: 200px;
        height: 200px;
    }

}

.li-corruption {
    color: #6CACE4;
    margin-bottom: 10px;
}

.question {
    margin-top: 100px;
    position: absolute;
    background-repeat: no-repeat;
    height: 400px;
    z-index: -1;
    margin-left: 50px;
}

.li-arrow {
    display: flex;
    align-items: center;
}

.li-arrow:not(:last-child) {
    margin-bottom: 8px;
}

.li-arrow::before {
    content: url('../images/Vector 48.svg');
    width: 20px;
    height: 20px;
    margin-right: 50px;
    flex-shrink: 0;
}

.text-blue-16px-500 {
    font-size: 16px;
    font-family: "Golos_500", serif;
    color: #6CACE4;
    word-wrap: break-word
}

.text-blue-24px-400-right {
    text-align: right;
    display: flex;
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word
}


@media (max-width: 992px) {
    .text-blue-24px-400-right {
        text-align: left;
        margin-top: 25px;
    }
}

@media (max-width: 576px) {
    .text-blue-24px-400-right {
        font-size: 20px;
    }
}


.text-blue-28px-400 {
    display: flex;
    font-size: 28px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-blue-28px-400 {
        font-size: 20px;
    }
}

.blue-oval {
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    background-repeat: no-repeat;
    height: 300px;
    z-index: -1;
}

.line-gray {
    display: flex;
    width: 100%;
    height: 1.5px;
    border: 1.5px #D9D9D9 solid;
}

.subdivision-block {
    margin-top: 50px;
}

/*Прямоугольники на главной*/

.rectangle-index-block {
    display: flex;
    width: 100%;
    height: 107px;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    border: 1px #025EA1 solid;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .rectangle-index-block {
        width: 100%;
    }
}

.rectangle-index-block__inner_text {
    display: flex;
    font-size: 28px;
    font-family: "Golos_400", serif;
    color: #025EA1;
    word-wrap: break-word
}

@media (min-width: 0) and (max-width: 575px) {
    .rectangle-index-block__inner_text {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 1200px){
    .rectangle-index-block__inner_text {
        font-size: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    .rectangle-index-block__inner_text {
        font-size: 24px;
    }
}


/*Блок кнопок новостей*/

.all-news-button {
    margin-top: 0;
    background-color: transparent;
    font-size: 16px;
    font-family: "Golos_400", serif;
    color: #025EA1;
    width: 140px;
    height: 40px;
    border-radius: 25px;
    border: 1px #025EA1 solid;
    transition: 0.15s ease-in-out;
}

.all-news-button:hover {
    color: white;
    background-color: #025EA1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

.ellipse-news-button-prew {
    align-content: center;
    margin-top: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background: url('../images/arrow_left.svg');
    border: 1px #025EA1 solid;
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.15s ease-in-out;
}

.ellipse-news-button-prew:hover {
    background: url('../images/arrow_left_white.svg');
    background-size: 25%;
    background-color: #025EA1;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

.ellipse-news-button-next {
    margin-top: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    border: 1px #025EA1 solid;
    background: url("../images/arrow_right.svg");
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.15s ease-in-out;
}

.ellipse-news-button-next:hover {
    background: url("../images/arrow_right_white.svg");
    background-size: 25%;
    background-color: #025EA1;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);

}

/*Блок новостей главная*/

.news-block {
    display: flex;
    max-width: 415px;
    /*width: calc(100% - 24px);*/
    height: 390px;
    background: #F2F5F8;
    border: 1px #E9F5FF solid;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}


@media (min-width: 992px) {
    .news-block {
        margin-left: 12px;
        margin-right: 12px;
        height: auto;
    }
}

@media (min-width: 576px) {
    /*@media (max-width: 576px) {*/
    .news-block {
        max-width: calc(100%);
        height: 390px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.news_block__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.news_block__inner__news {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.news_block__inner__title {
    width: 100%;
    display: flex;
    margin-top: 0;
}

.news_block__inner__text {
    width: 100%;
    display: flex;
    margin-top: 13px;
}

.news_block__inner__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.news_block__inner__footer__date {
    display: flex;
    flex-direction: row;
}

.news_block__inner__footer__day {
    display: flex;
    font-size: 56px;
    font-family: "Rosatom", serif;
    font-weight: 700;
    color: #6CACE4;
    word-wrap: break-word;
    margin-right: 15px;
    line-height: 91%;
}

.news_block__inner__footer__date__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.news_block__inner__footer__text__month {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word;
    line-height: 100%;
}

.news_block__inner__footer__text__year {
    padding: 0;
    margin: 0;
    /*margin-top: -10px;*/
    display: flex;
    font-size: 24px;
    font-family: "Golos_700", serif;
    color: #6CACE4;
    word-wrap: break-word;
    line-height: 100%;
}

.news_block__inner__footer__button_div {
    display: flex;
}

.news_block__inner__footer__button {
    font-size: 15px;
    font-family: "Golos_700", serif;
    color: #6CACE4;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px #6CACE4 solid
}


/*Слайдер*/
.item {
    height: 420px;
    width: 100%;
}

.item img {
    height: 420px;
    object-fit: cover;
}

@media (min-width: 0) {
    .item {
        height: 250px;
    }

    .item img {
        height: 250px;

    }
}

@media (min-width: 576px) {
    .item {
        height: 250px;
    }

    .item img {
        height: 250px;

    }
}

@media (min-width: 768px) {
    .item {
        height: 330px;
    }

    .item img {
        height: 330px;

    }
}

@media (min-width: 1200px) {
    .item {
        height: 380px;
    }

    .item img {
        height: 380px;

    }
}

@media (min-width: 1400px) {
    .item {
        height: 420px;
    }

    .item img {
        height: 420px;

    }
}

/*Блоки направлений*/


.direction-block__header {
    display: flex;
    width: 100%;
    height: 100px;
    background: #025EA1;
    border: 1px #E9F5FF solid;
    border-radius: 16px 16px 0 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.direction-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 315px;
    background: #F2F5F8;
    border: 1px #E9F5FF solid;
    border-radius: 0 0 16px 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.direction-block__title {
    margin-top: 20px;
    display: flex;
}

.direction-block__text {
    margin-top: 20px;
    display: flex;
}

.li-direction {
    color: #6CACE4;
    /*margin-bottom: 26px;*/
}