@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Italic.eot');
    src: local('Rosatom Italic'), local('Rosatom-Italic'),
    url('../fonts/rosatom/Rosatom-Italic.eot') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Italic.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Italic.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Light.eot');
    src: local('Rosatom Light'), local('Rosatom-Light'),
    url('../fonts/rosatom/Rosatom-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Light.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Light.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Bold.eot');
    src: local('Rosatom Bold'), local('Rosatom-Bold'),
    url('../fonts/rosatom/Rosatom-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Bold.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Bold.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('../fonts/rosatom/Rosatom-Regular.eot');
    src: local('Rosatom'), local('Rosatom-Regular'),
    url('../fonts/rosatom/Rosatom-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rosatom/Rosatom-Regular.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Regular.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos_400';
    src: url('../fonts/golos/400/font.woff2') format('woff2'),
    url('../fonts/golos/400/font.woff') format('woff'),
    url('../fonts/golos/400/font.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Golos_500';
    src: url('../fonts/golos/500/font.woff2') format('woff2'),
    url('../fonts/golos/500/font.woff') format('woff'),
    url('../fonts/golos/500/font.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Golos_700';
    src: url('../fonts/golos/700/font.woff2') format('woff2'),
    url('../fonts/golos/700/font.woff') format('woff'),
    url('../fonts/golos/700/font.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

.content-fade {
    scroll-behavior: smooth;
    animation: fade-in 1s ease;
    transition: opacity 0.5s ease;
}


body {
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.header {
    display: flex;
    /*border-bottom: 1px solid #f2f2f2;*/
    height: 150px;
    align-items: center;
    justify-content: center;
}

.header_logo {
    /*display: inline-block;*/
    width: 110px;
    height: 50px;
    /*position: relative*/

}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.logo-block {
    float: left;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 38px;
}

.navigation-root {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding-left: 0;
    height: 100%;
    gap: 38px;

}

.navigation-list-item {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-list-item a {
    font-family: "Golos_400", serif;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

.navigation-list-item a:hover {
    color: #025EA1;
}

.slider_container {
    display: flex;
    color: #ffffff;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 60%;
}

/*.slider_container {*/
/*    padding-right: 20px;*/
/*    color: #ffffff;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 60%;*/
/*}*/

.main-slider__title {
    display: flex;
    letter-spacing: -0.01em;
    line-height: 1.2;
    /*font-size: 30px;*/
    font-weight: 500;
    position: absolute;
    bottom: 0;
    /*width: 60%;*/
    width: calc(1320px - 24px);
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    vertical-align: middle;

}

.carousel__title__glaz {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.10);

}

.carousel__title {
    color: #ffffff;
    font-size: 40px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    margin-top: 28px;
    margin-bottom: 32px;
}

.carousel__title_blue_text {
    color: #025EA1;
    /*background-color: rgba(51, 51, 51, 0.41);*/
    /*background: -webkit-linear-gradient(rgba(238, 238, 238, 0.46), rgba(51, 51, 51, 0.5));*/
}

@media (min-width: 0px) and (max-width: 575px) {
    .main-slider__title {
        width: calc(100% - 24px);
    }

    .carousel__title {
        font-size: 24px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-slider__title {
        width: calc(540px - 24px);
    }

    .carousel__title {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-slider__title {
        width: calc(720px - 24px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-slider__title {
        width: calc(960px - 24px);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .main-slider__title {
        width: calc(1140px - 24px);
    }
}

@media (max-width: 991px) {
    .navigation-root {
        display: none;
    }
}

/*@media (max-width: 576px) {*/
/*    .carousel__title {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

/*@media (min-width: 576px) and (max-width: 992px) {*/
/*    .carousel__title {*/
/*        font-size: 32px;*/
/*    }*/
/*}*/

.navigation-toggle-link {
    display: none;
    /*background: url('../images/list.svg');*/
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    /*padding-right: 50px;*/
}

.navigation-toggle-link-icon {
    -webkit-mask-image: url('../images/list.svg');
    mask-image: url('../images/list.svg');
    /*background: url('../images/list.svg');*/
    background-color: #4e5f68;
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    height: 19px;
}


@media (max-width: 991px) {
    .navigation-toggle-link {
        display: flex;
    }
}

.dropdown {
    display: none;
    align-items: start;
    /*display: inline-block;*/
    z-index: 50;
    min-width: 80vw;
    position: absolute;
    background-color: white;
    right: 2%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media (max-width: 991px) {
    .navigation-list-item {
        background: white;
        padding-left: 40px;
        min-height: 40px;
    }

    .dropdown-content {
        display: block;
    }
}

@media (max-width: 992px) {

    .timeline-block {
        display: none;
    }

    .oval-number-block {
        display: none;
    }
}

.bgfooter {
    flex-shrink: 0;
    width: 100%;
    height: 75px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    /*bottom: 0px;*/
    color: white;
    background: #525760;
}

.director-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%
}


/*Карта*/
.map {
}

.map_region {
    fill: #C4DEF4;
    stroke: #eee;
    stroke-width: 10;
}

.map_region:hover {
    fill: #a7cfee;
    transition: 0.2s;
    /*cursor: pointer;*/
}

.map_region_cursor:hover {
    cursor: pointer;
}

.map_marker {
    scale: 22;
    fill: #025ea1;
    stroke: #eee;
    stroke-width: .25;
}

.map_marker:hover {
    fill: #32CA7A;
    transition: 0.2s;
    cursor: pointer;
}

.map_city_info {
    opacity: 1;
    display: none;
    background: white;
    border-radius: 10px;
    border: 1.50px #32CA7A solid;
    padding: 25px;
    align-content: space-between;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

#moscow {
    width: 620px;
    height: 280px;
    margin-left: 220px;
    margin-top: 250px;
    position: absolute;
}

#saint-petersburg {
    width: 500px;
    height: 250px;
    margin-left: 260px;
    margin-top: 130px;
    position: absolute;
}

#ozersk {
    width: 550px;
    height: 270px;
    margin-left: 380px;
    margin-top: 230px;
    position: absolute;
}

#lesnoy {
    width: 520px;
    height: 250px;
    margin-left: 410px;
    margin-top: 130px;
    position: absolute;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #moscow {
        margin-left: 170px;
        margin-top: 170px;
    }

    #saint-petersburg {
        margin-left: 180px;
        margin-top: 90px;
    }

    #ozersk {
        margin-left: 270px;
        margin-top: 250px;
    }

    #lesnoy {
        margin-left: 300px;
        margin-top: 220px;
    }

    .map_marker {
        scale: 30;
    }

    #moscow_marker {
        transform: matrix(1, 0, 0, 1, 2800, 3900)
    }

    #saint_p_marker {
        transform: matrix(1, 0, 0, 1, 3250, 2200)
    }
}

@media (min-width: 1199px) and (max-width: 1399px) {
    #moscow {
        margin-left: 190px;
        margin-top: 220px;
    }

    #saint-petersburg {
        margin-left: 220px;
        margin-top: 110px;
    }

    #ozersk {
        margin-left: 320px;
        margin-top: 230px;
    }

    #lesnoy {
        margin-left: 350px;
        margin-top: 130px;
    }

    .map_marker {
        scale: 26;
    }

    #moscow_marker {
        transform: matrix(1, 0, 0, 1, 2800, 4000)
    }

    #saint_p_marker {
        transform: matrix(1, 0, 0, 1, 3250, 2400)
    }
}

.close_button {
    -webkit-mask-image: url('../images/close.svg');
    mask-image: url('../images/close.svg');
    /*background: url('../images/list.svg');*/
    background-color: #32CA7A;
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.close_button:hover {
    background-color: #333333;
}

/*Текст*/

.text-span {
    font-size: 14px;
    font-family: "Rosatom", serif;
    font-weight: normal;

}

.h1-istok {
    color: #333333;
    font-size: 40px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    margin-top: 28px;
}

.h1-istok_index {
    color: #333333;
    font-size: 40px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    margin-top: 28px;
}

#direction {
    margin-top: 50px;
}

.h4-istok {
    color: #333333;
    font-size: 28px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    line-height: 36px;
}

@media (max-width: 576px) {
    .h1-istok {
        font-size: 28px;
    }
}

.h5-istok {
    color: #333333;
    font-size: 20px;
    font-family: "Golos_700", serif;
    word-wrap: break-word;
    line-height: 36px;
}

.text-32px-700-blue {
    font-size: 32px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

.text-32px-700 {
    font-size: 32px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-32px-700-blue {
        font-size: 24px;
    }

    .text-32px-700 {
        font-size: 24px;
    }
}

.text-28px-700 {
    font-size: 28px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

.text-26px-700-blue {
    font-size: 28px;
    color: #025EA1;
    font-family: "Golos_700", serif;
    /*color: #333333;*/
    word-wrap: break-word
}

.text-28px-500 {
    font-size: 28px;
    font-family: "Golos_500", serif;
    color: #333333;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-28px-500 {
        font-size: 24px;
    }
}

.text-24px-700 {
    font-size: 24px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

.text-24px-500 {
    font-size: 24px;
    font-family: "Golos_500", serif;
    color: #333333;
    word-wrap: break-word
}

.text-24px-400 {
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}

.text-24px-400-blue {
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-24px-700 {
        font-size: 20px;
    }

    .text-24px-500 {
        font-size: 20px;
    }

    .text-24px-400 {
        font-size: 20px;
    }

    .text-24px-400-blue {
        font-size: 20px;
    }
}


.text-20px {
    font-size: 20px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    hyphens: manual;
}

.text-20px-blue {
    font-size: 20px;
    font-family: "Golos_400", serif;
    color: #025EA1;
    word-wrap: break-word
}

.text-20px-blue__link {
    font-size: 20px;
    font-family: "Golos_400", serif;
    color: #025EA1;
    word-wrap: break-word;
    text-decoration: none;
}

.text-20px-blue-500 {
    font-size: 20px;
    font-family: "Golos_500", serif;
    color: #025EA1;
    word-wrap: break-word
}

.text-20px-500 {
    font-size: 20px;
    font-family: "Golos_500", serif;
    color: #333333;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-20px {
        font-size: 16px;
    }

    .text-20px-500 {
        font-size: 16px;
    }

    .text-20px-blue {
        font-size: 16px;
    }

    .text-20px-blue-500 {
        font-size: 16px;
    }
}

.text-16pх-400 {
    font-size: 16px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}

.text-16pх-700 {
    font-size: 16px;
    font-family: "Golos_700", serif;
    color: #333333;
    word-wrap: break-word
}

.text-13pх-400 {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}

.text-13pх-400-grey {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #9F9E9E;
    word-wrap: break-word
}

.text-12pх-400-grey {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #9F9E9E;
    word-wrap: break-word
}

.footer-company-name {
    display: flex;
    justify-content: start;
    height: 50px;
    align-items: center;
}

.text-12pх-400 {
    font-size: 13px;
    font-family: "Golos_400", serif;
    color: #333333;
    word-wrap: break-word
}

.text-year-timeline {
    color: #025EA1;
    font-size: 24px;
    font-family: "Golos_500", serif;
    word-wrap: break-word
}

.text-description-timeline {
    color: #6CACE4;
    font-size: 20px;
    font-family: "Golos_400", serif;
    word-wrap: break-word
}

.info-number-block {
    display: flex;
    /*margin-top: 30px;*/
    /*min-height: 120px;*/
}

.number-info {
    display: flex;
    flex-direction: row;
}

.number {
    /*width: 54px;*/
    display: flex;
    color: #025EA1;
    font-size: 54px;
    font-family: "Rosatom", serif;
    font-weight: 700;
    margin-right: 25px;
}

.number-text {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    justify-content: start;
}

.number-description-title {
    display: flex;
    color: #333333;
    font-size: 20px;
    font-family: "Golos_500", serif;
    word-wrap: break-word
}

.number-description {
    display: flex;
    color: #333333;
    font-size: 14px;
    font-family: "Golos_400", serif;
    word-wrap: break-word
}

.Vector47 {
    width: 100%;
    height: 100%;
    border: 1.50px #6CACE4 solid
}

.d1 {
    position: absolute;
    width: 750px;
    height: 750px;
    background: #D6DEE9;
    border-radius: 50%;
    z-index: -1;
    left: -5%;
}

.d2 {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #F2F5F8;
    border-radius: 50%;
    z-index: -1;
    right: 0;
}

@media (max-width: 750px) {
    .d1 {
        width: 300px;
        height: 300px;
    }

    .d2 {
        width: 200px;
        height: 200px;
    }

}


.li-corruption {
    color: #6CACE4;
    margin-bottom: 10px;
    padding-left: 20px;
}

/*.li-corruption:before {*/
/*    color: #6CACE4;*/
/*    margin-bottom: 10px;*/
/*    padding-left: 23px;*/
/*}*/


.question {
    margin-top: 140px;
    margin-left: 6px;
    position: absolute;
    background-repeat: no-repeat;
    height: 400px;
    z-index: -1;

}

.approve {
    position: absolute;
    background-repeat: no-repeat;
    max-width: 100%;
    z-index: -1;
    margin-left: -70px;
    margin-top: -85px;
}

.approve img {
    height: 480px;
}

@media (min-width: 0) and (max-width: 575px) {
    .approve img {
        height: 240px;
    }
}

.li-arrow {
    display: flex;
    align-items: center;
}

.li-arrow:not(:last-child) {
    margin-bottom: 8px;
}

.li-arrow::before {
    /*position: absolute;*/
    align-self: start;
    margin-top: 0;
    content: url('../images/Vector 48.svg');
    width: 20px;
    height: 20px;
    margin-right: 50px;
    flex-shrink: 0;
}


.li-approve {
    display: flex;
    align-items: center;
}

.li-approve:not(:last-child) {
    margin-bottom: 20px;
}

.li-approve::before {
    content: url('../images/li_approve.svg');
    width: 17px;
    height: 12px;
    align-self: start;
    margin-right: 37px;
    flex-shrink: 1;
}


.text-blue-16px-500 {
    font-size: 16px;
    font-family: "Golos_500", serif;
    color: #6CACE4;
    word-wrap: break-word
}

.ul_padding_0 {
    padding-left: 0;
}

.block_in_li_arrow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-blue-24px-500 {
    font-size: 24px;
    font-family: "Golos_500", serif;
    color: #6CACE4;
    word-wrap: break-word
}

.text-blue-24px-400-right {
    text-align: right;
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word
}


@media (max-width: 992px) {
    .text-blue-24px-400-right {
        text-align: left;
        margin-top: 25px;
    }
}

@media (max-width: 576px) {
    .text-blue-24px-400-right {
        font-size: 20px;
    }
}


.text-blue-28px-400 {
    display: flex;
    font-size: 28px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word
}

@media (max-width: 576px) {
    .text-blue-28px-400 {
        font-size: 20px;
    }
}

.blue-oval {
    margin-left: -32px;
    margin-top: -20px;
    position: absolute;
    background-repeat: no-repeat;
    height: 300px;
    z-index: -1;
}

.line-gray {
    display: flex;
    width: 100%;
    height: 1px;
    border: 1px #D9D9D9 solid;
}

.subdivision-block {

}

/*Прямоугольники на главной*/


#index_buttons {
    margin-top: 80px
}

@media (min-width: 0px) and (max-width: 575px) {
    #index_buttons {
        margin-top: 30px
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    #news_block {
        margin-top: 60px
    }
}


.rectangle-block {
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px #6CACE4 solid;
    transition: 0.15s ease-in-out;
}

.rectangle-block:hover {
    background-color: #6CACE4;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
    .rectangle-index-block {
        width: 100%;
    }
}

.rectangle-block__inner_text {
    text-align: center;
    display: flex;
    font-size: 20px;
    font-family: "Golos_500", serif;
    color: #6CACE4;
    word-wrap: break-word
}

.rectangle-block:hover .rectangle-block__inner_text {
    color: white;
}

.rectangle-block__link {
    text-decoration: none;
}

@media (min-width: 0) and (max-width: 575px) {
    .rectangle-block__inner_text {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .rectangle-block__inner_text {
        font-size: 16px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .rectangle-block__inner_text {
        font-size: 20px;
    }
}


/*Блок кнопок новостей*/

#news_block {
    margin-top: 170px
}

@media (max-width: 992px) {
    #news_block {
        margin-top: 80px
    }
}

.all-news-button {
    margin-top: 0;
    background-color: transparent;
    font-size: 16px;
    font-family: "Golos_400", serif;
    color: #025EA1;
    width: 140px;
    height: 40px;
    border-radius: 25px;
    border: 1px #025EA1 solid;
    transition: 0.15s ease-in-out;
}

.all-news-button:hover {
    color: white;
    background-color: #025EA1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

.ellipse-news-button-prew {
    align-content: center;
    margin-top: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background: url('../images/arrow_left.svg');
    border: 1px #025EA1 solid;
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.15s ease-in-out;
}

.ellipse-news-button-prew:hover {
    background: url('../images/arrow_left_white.svg');
    background-size: 25%;
    background-color: #025EA1;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}

.ellipse-news-button-next {
    margin-top: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    border: 1px #025EA1 solid;
    background: url("../images/arrow_right.svg");
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.15s ease-in-out;
}

.ellipse-news-button-next:hover {
    background: url("../images/arrow_right_white.svg");
    background-size: 25%;
    background-color: #025EA1;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 10px 15px 0 rgba(0, 0, 0, 0.19);

}

/*Блок новостей главная*/

.news-block {
    display: flex;
    max-width: 415px;
    /*width: calc(100% - 24px);*/
    height: 390px;
    background: #F2F5F8;
    border: 1px #E9F5FF solid;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}


@media (min-width: 992px) {
    .news-block {
        margin-left: 12px;
        margin-right: 12px;
        height: auto;
    }
}

@media (min-width: 576px) {
    /*@media (max-width: 576px) {*/
    .news-block {
        max-width: calc(100%);
        height: 390px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (min-width: 0) {
    /*@media (max-width: 576px) {*/
    .news-block {
        max-width: calc(100%);
        height: 390px;
        margin-left: 12px;
        margin-right: 12px;
    }
}


.news_block__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.news_block__inner__news {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.news_block__inner__title {
    width: 100%;
    display: flex;
    margin-top: 0;
}

.news_block__inner__text {
    width: 100%;
    display: flex;
    margin-top: 13px;
}

.news_block__inner__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.news_block__inner__footer__date {
    display: flex;
    flex-direction: row;
}

.news_block__inner__footer__day {
    display: flex;
    font-size: 56px;
    font-family: "Rosatom", serif;
    font-weight: 700;
    color: #6CACE4;
    word-wrap: break-word;
    margin-right: 15px;
    line-height: 91%;
}

.news_block__inner__footer__date__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.news_block__inner__footer__text__month {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 24px;
    font-family: "Golos_400", serif;
    color: #6CACE4;
    word-wrap: break-word;
    line-height: 100%;
}

.news_block__inner__footer__text__year {
    padding: 0;
    margin: 0;
    /*margin-top: -10px;*/
    display: flex;
    font-size: 24px;
    font-family: "Golos_700", serif;
    color: #6CACE4;
    word-wrap: break-word;
    line-height: 100%;
}

.news_block__inner__footer__button_div {
    display: flex;
}

.news_block__inner__footer__button {
    font-size: 15px;
    font-family: "Golos_700", serif;
    color: #6CACE4;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px #6CACE4 solid
}


/*Слайдер*/
.item {
    background-color: #F2F5F8;
    height: 420px;
    width: 100%;
}

.item img {
    height: 420px;
    object-fit: cover;
}

@media (min-width: 0) {
    .item {
        height: 250px;
    }

    .item img {
        height: 250px;

    }
}

@media (min-width: 576px) {
    .item {
        height: 350px;
    }

    .item img {
        height: 350px;

    }
}


@media (min-width: 1200px) {
    .item {
        height: 380px;
    }

    .item img {
        height: 380px;

    }
}

@media (min-width: 1400px) {
    .item {
        height: 420px;
    }

    .item img {
        height: 420px;

    }
}

/*Блоки направлений*/
.direction-block_all {
    display: flex;
    border-radius: 16px 16px 16px 16px;
    transition: 0.15s ease-in-out;
}

.direction-block_all:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.direction-block__header {
    display: flex;
    width: 100%;
    height: 100px;
    /*background: #025EA1;*/
    /*border: 1px #E9F5FF solid;*/
    border-radius: 16px 16px 0 0;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 20px;*/
}

.direction-block__header img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    object-fit: cover;
}

.direction-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 380px;
    background: #F2F5F8;
    /*border: 1px #F2F5F8 solid;*/
    border-radius: 0 0 16px 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.direction-block__title {
    margin-left: 13px;
    margin-top: 18px;
    display: flex;
}

.direction-block__text {
    /*margin-top: 16px;*/
    display: flex;
}

.li-direction {
    color: #6CACE4;
    margin-top: 10px;
    line-height: 1.25;
    /*margin-bottom: 26px;*/
}

.li-direction span {
    color: #333333;
}

.li-direction:before {
    color: #6CACE4;
    margin-top: 0;
    /*margin-bottom: 26px;*/
}

@media (min-width: 0px) and (max-width: 991px) {

    .direction-block {
        min-height: 280px;
        overflow: hidden;
    }

    .li-direction {
        font-size: 16px;
    }

    #hidden_li_direction_item {
        display: none;
    }
}


/*Блоки с картинкой на странице карьеры*/

.career_img_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

.career_img_block__image__size {
    display: flex;
    height: 80px;
    align-items: end;
}

.career_img_block__image {
    display: flex;
    width: 100%;
    justify-content: center;

}

.career_img_block__text {
    margin-top: 16px;
    justify-content: center;
    display: flex;
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Golos_400", serif;
    color: #333333;
}

.career_img_block__text__block {
    display: flex;
    max-width: 200px
}

.content-napr-width {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.career_img_finder {
    display: flex;
    height: 275px;
    width: 100%;
}

.career_img_finder img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 16px;
}

@media (min-width: 991px) and (max-width: 1199px) {
    .career_img_finder {
        height: 245px;
    }

    .career_img_finder img {
        height: 245px;
    }

}

@media (max-width: 991px) {
    .career_img_finder {
        height: 265px;
    }

    .career_img_finder img {
        height: 265px;
    }

}


.item_napr {
    display: flex;
    height: 320px;
    width: 100%;
}

.item_napr img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

#prof_rost {
    margin-top: 90px
}

#young_professionals {
    margin-top: 210px
}

#targeted_training {
    margin-top: 210px
}

@media (max-width: 1119px) {
    #prof_rost {
        margin-top: 60px
    }

    #young_professionals {
        margin-top: 110px
    }

    #targeted_training {
        margin-top: 190px
    }
}