@font-face {
    font-family: 'p22_underground_cy_prodemi';
    src: url('../fonts/P22UndergroundCYPro-Demi.woff2') format('woff2'),
    url('../fonts/P22UndergroundCYPro-Demi.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Demi.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'p22_underground_cy_probook';
    src: url('../fonts/P22UndergroundCYPro-Book.woff2') format('woff2'),
    url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Book.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'golos_500';
    src: url('../fonts/golos/500/font.woff2') format('woff2'),
    url('../fonts/golos/500/font.woff') format('woff'),
    url('../fonts/golos/500/font.eot') format('eot');
    font-weight: bold;
    font-style: normal;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Теперь можно использовать шрифт */

.text-index {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 75px;
    margin-top: 125px;
    padding-top: 0;
    line-height: 0.75;
    text-transform: uppercase;
}

.text-1 {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 25px;
    display: inline;
}

.text-1-not-inline {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 25px;
}

.text-1-task {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.text-2-task {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
}

.text-1-year {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 25px;
    cursor: context-menu;
    transition-duration: .2s;
    display: inline;
}

.text-1-year:hover {
    color: #0a53be;
}

.text-2 {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 20px;
}


.text-3 {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 15px;
    margin-top: 15px;
    transition: .05s ease-in-out;
}

.text-4-book {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 19px;
    cursor: context-menu;
    text-align: center;
    margin-top: 20px;
    transition-duration: .2s;

}

.text-4-book:hover {
    scale: 110%;
    color: #0a53be;
}

.text-4-book-left {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 17px;
    cursor: context-menu;
    margin-top: 20px;
    transition-duration: .2s;
}

.text-5-book {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 19px;
    cursor: context-menu;
    text-align: center;
    margin-top: 20px;
    transition-duration: .2s;

}

.text-5-book:hover {
    color: #0a53be;
}

.text-5-bold {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 15px;
    cursor: context-menu;
    text-align: center;
    margin-top: 20px;
    transition-duration: .2s;

}

.text-5-bold:hover {
    color: #0a53be;
}


.text-5-bold-red {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 15px;
    cursor: context-menu;
    text-align: center;
    margin-top: 20px;
    transition-duration: .2s;

}

.text-5-bold-red:hover {
    color: #cc0000;
}


.hover-mouse {
    transition-duration: .2s;
}

.hover-mouse:hover {
    background-color: #F2F2F2;
}

.text-3-menu:hover {
    color: #0a53be;
}

.text-3-menu {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 15px;
    margin-top: 15px;
    transition: .05s ease-in-out;
    color: black;
    text-transform: uppercase;
}

.text-index-book {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 15px;
    margin-top: 15px;
    transition: .05s ease-in-out;
    color: black;
    text-transform: uppercase;
}

.text-menu-sidebar {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 12px;
    transition: .05s ease-in-out;
    text-transform: uppercase;
}

.text-index-book-p {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0;
    transition: .05s ease-in-out;
    color: black;
    text-transform: uppercase;
}

.text-index-demi-h2 {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 30px;
    margin-bottom: 0;
    transition: .05s ease-in-out;
    color: black;
    text-transform: uppercase;
}


.my-nav {
    background-color: white;
    position: sticky;
    top: 0;
}

.content-fade {
    scroll-behavior: smooth;
    animation: fade-in 1s ease;
    transition: opacity 0.5s ease;
}


.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.centered_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.text-main-page {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 30px;
    /*margin-top: 300px;*/
    padding-top: 0;
    line-height: 1;
    text-transform: uppercase;
}

.text-main-page-demi {
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 45px;
    margin-top: 250px;
    padding-top: 0;
    line-height: 1;
    text-transform: uppercase;
}

.text-main-page-small {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 12px;
    /*margin-top: 300px;*/
    padding-top: 0;
    line-height: 1;
    text-transform: uppercase;
}

.text-main-page-small a {
    /*color: #0a53be;*/
    text-decoration: none;
}

.loader {
    display: block;
    position: relative;
    height: 12px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

.loader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #F23030;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

.hover-mouse-icon {
    transition-duration: .2s;
}

.hover-mouse-icon:hover {
    transform: scale(1.3);
}

.input-search {
    margin-left: 50px;
    width: 350px;
    border: 2px solid #808080;
    background: transparent;
    padding: 15px 30px;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    color: #0a53be;
    /*font-weight: bold;*/
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease-in-out, scale 0.5s ease-in-out, border 1s, margin-left 0.5s ease-in-out, background-color 0.5s ease-in-out;
    font-family: "p22_underground_cy_prodemi", serif;
    /*letter-spacing: 2px;*/
    /*text-transform: uppercase;*/
    /*animation: ease-in-out;*/

}

.input-search:focus {
    /*margin-left: 0px;*/
    width: 650px;
    border: 2px solid white;
    border-radius: 10px;
    scale: 1.1;
    /*margin-right: 50px;*/
    /*transition: transform 1s;*/
}

.input-search:hover {
    /*margin-left: 0px;*/
    width: 650px;
    border: 2px solid white;
    border-radius: 10px;
    scale: 1.1;
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    /*margin-right: 50px;*/
    /*transition: transform 1s;*/
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

:-ms-input-placeholder { /* IE 10+ */
    color: black;
}

.input-search.active {
    background: white;
}

.close-btn {
    /*position: absolute;*/
    /*top: 27px;*/
    /*right: 80px;*/
    /*font-size: 35px;*/
    cursor: pointer;
    color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /*transition: opacity 0.5s ease;*/
}

.close-btn.active {
    opacity: 1;
    /*animation: animate 0.5s linear;*/
}

.back-search {
    background: white;
    transition: background-color 0.5s ease-in-out;
}

.back-search.active {
    background: #e0e0e0;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.tr-tables {
    height: 15px;
    vertical-align: center;
    cursor: context-menu;
}

.th_tables {
    font-family: "p22_underground_cy_prodemi", serif;
    letter-spacing: 0.05em;
    height: 15px;
    font-size: 15px;
    padding-top: 0;
    line-height: 1;
    text-transform: uppercase;
    vertical-align: center;
    cursor: context-menu;
}

.td_tables {
    height: 15px;
    font-family: "p22_underground_cy_probook", serif;
    font-size: 15px;
    line-height: 1;
    vertical-align: center;


}

.td_tables-bold {
    height: 15px;
    font-family: "p22_underground_cy_prodemi", serif;
    font-size: 15px;
    line-height: 1;
    vertical-align: center;
    letter-spacing: 0.01em;
    cursor: context-menu;
}

.easy-animation {
    transition: all .3s ease-in-out;
}


.form-placeholder {
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 272px;
    height: 40px;
    left: 24px;
    top: 24px;

    background: rgba(212, 213, 217, 0.32);
    border-radius: 8px;

}